# misc
.DS_Store
*.pem

# env files
.env*

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Frontend
frontend/node_modules/
frontend/.next/
frontend/out/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
*.egg

# Virtual environment
backend/venv/
backend/.venv/
venv/
.venv/

# IDE
.vscode/
.idea/
